body {
  background-image: url(https://outline-prod.imgix.net/20190627-hQ4r21RHLti2zCl2fYow?auto=format&q=60&w=1280&s=ab5303f86c069170ee8e4043d7a9c672);
  font-family: 'Press Start 2P';
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  text-align: center;
}
.link-without-underline{
  text-decoration: none;
}